<h1 align="center">All Alpha Bloggers</h1>

<div align="center">
    <% @user.each do |user| %>
    <ul class="listing">
        <div class="row justify-content-center">
            <div class="well col-md-6   ">
                <li><%= link_to gravatar_for(user), user_path(user) %></li>
                <li class="blog-title">
                    <%= link_to user.username, user_path(user) %>

                </li>

                <li><small><%= pluralize(user.blogs.count, "blog") if user.blogs %></small></li>

            </div>

        </div>

    </ul>

    <% end %>

</div>